**1. What are data structures, and why are they important?**

**Ans:-**Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are important because they help in organizing data, optimizing operations like searching, sorting, and retrieving data, and enhancing performance for different algorithms.

**2. Explain the difference between mutable and immutable data types with examples?**

**Ans:-**A mutable data type can be changed after it is created. Examples include lists and dictionaries.

An immutable data type cannot be changed after it is created. Examples include strings and tuples.

**3. What are the main differences between lists and tuples in Python?**

**Ans:-**Lists are mutable (can be modified), ordered, and can contain duplicate elements.

Tuples are immutable (cannot be modified), ordered, and can contain duplicate elements.

**4. Describe how dictionaries store data?**

**Ans:-**Dictionaries store data as key-value pairs. Each key is unique, and it maps to a specific value. They provide fast lookup times using hashing.

EX:- my_dict = {"apple": 1, "banana": 2}

**5. Why might you use a set instead of a list in Python?**

**Ans:-**You might use a set when you want to ensure that there are no duplicate elements and when you need faster membership tests (checking if an element is in the set).

**6. What is a string in Python, and how is it different from a list?**

**Ans:-**A string is a sequence of characters, while a list is a collection of items that can be of different types. Strings are immutable, whereas lists are mutable.

**7. How do tuples ensure data integrity in Python?**

**Ans:-**Tuples are immutable, meaning once created, their contents cannot be altered. This ensures data integrity by preventing accidental modifications.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

**Ans:-**A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found. In Python, dictionaries are implemented using hash tables.

**9. Can lists contain different data types in Python?**

**Ans:-**Yes, lists in Python can contain elements of different data types (e.g., integers, strings, and other lists).

**10. Explain why strings are immutable in Python.**

**Ans:-**Strings are immutable in Python to ensure efficiency, especially in operations that involve concatenating strings. Since strings are often used frequently in programs, immutability helps to avoid unnecessary memory consumption from creating multiple copies of strings.

**11. What advantages do dictionaries offer over lists for certain tasks?**

**Ans:-**Dictionaries offer faster lookups (O(1) time complexity) compared to lists, which require O(n) time to search for an item. They are also more intuitive for mapping relationships between keys and values.

**12. Describe a scenario where using a tuple would be preferable over a list.**

**Ans:-**If you need a collection of elements that should not be modified (e.g., coordinates, eployee id , aadhar), using a tuple would be preferable since it's immutable.

**13. How do sets handle duplicate values in Python?**

**Ans:-**Sets automatically remove duplicate values. If you try to add a duplicate value to a set, it will be ignored.

Ex:- my_set = {1, 2, 2, 3}  # Result will be {1, 2, 3}


**14. How does the “in” keyword work differently for lists and dictionaries?**

**Ans:-**In lists, in checks if a value exists as an element.
In dictionaries, in checks if a key exists.

**15. Can you modify the elements of a tuple? Explain why or why not.**

**Ans:-**No, you cannot modify the elements of a tuple because tuples are immutable.

**16. What is a nested dictionary, and give an example of its use case?**

**Ans:-**A nested dictionary is a dictionary that contains other dictionaries as values. It is useful for representing hierarchical data.

Ex:-nested_dict = {"student": {"name": "John", "age": 20}}

**17. Describe the time complexity of accessing elements in a dictionary.**

**Ans:-**Accessing elements in a dictionary is O(1) on average, as it uses a hash table for quick lookups.

**18. In what situations are lists preferred over dictionaries?**

**Ans:-**Lists are preferred when you need to store an ordered collection of items and when indexing by position is more useful than key-based lookup.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

**Ans:-**Dictionaries are unordered because they are implemented using hash tables, and their elements are not stored in a fixed order. However, data retrieval is still fast because of the key-based access, but the order of elements is not guaranteed.

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

**Ans:-**In lists, data is retrieved using an index (e.g., list[0]).

In dictionaries, data is retrieved using a key (e.g., dict["key"]).

**Practical Questions**

In [1]:
#1.Write a code to create a string with your name and print it.

name = "Shravan Kumar"
print(name)

Shravan Kumar

In [3]:
#2.Write a code to find the length of the string "Hello World".

string = "papefaihghsjvandjfenvdjgahj"
print(len(string))

27

In [4]:
#3.Write a code to slice the first 3 characters from the string "Python Programming".

string = "Chutiya Programming"
print(string[:3])

Chu

In [5]:
#4.Write a code to convert the string "hello" to uppercase.

string = "urkfdvaksnreavlkknvad"
print(string.upper())

URKFDVAKSNREAVLKKNVAD

In [6]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [12]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [13]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [14]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [15]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [16]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [17]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [18]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

In [19]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [21]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

In [22]:
#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [23]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

In [24]:
#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [25]:
#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

my_tuple = ('apple', 'banana', 'cherry')
print(my_tuple[0])

apple

In [26]:
#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).


my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

In [27]:
#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [28]:
#22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

my_tuple = ('apple', 'orange', 'banana')
print('banana' in my_tuple)

True

In [29]:
#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [30]:
#24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}