 **1. What is the difference between a function and a method in Python?**

 **Ans:-** Fuctions are the block of the code which perform some specific or computation given by the user. It can be called by name when ever is the necessity of the fuction.

 Ex:-
 def pw(n):
    return f"Hello,{n}!"

print(pw("students")) # output: Hello, students!

 Method are funtion that part of the object and they operate on data contained within that object.


**2. Explain the concept of function arguments and parameters in Python.**

 **Ans:-** Parameters are the variables listed in the function definition. They act as placeholders that specify what kind of values the function expects to receive when it is called.They define what kind of data the function will work with.

 Ex:-

 def greet(name): #'name' is parameter
   return f"Hello,{name}!"

  Argument are the actual values that you pass to a function when you call it.

  Ex:-

  print(greet("Papa")) # 'Papa' is a argument



**3. What are the different ways to define and call a function in Python?**

 **Ans:-** A function is defined using the 'def' keyword, followed by the function name and parameters in parentheses and a block of code inside the function.

 Ex:-
 (a) simple

 def kk():
  print("hello")

kk() # output : hello

(b) with parameter

def p(n):
 print(f"hello,{n}!")

p(gg) # output: hello, gg

(c) with return value

def add(a,b):
  return a+b

result = add(3,5)
print(result) #output: 8

(d) with default parameter

def greet(name="skills"):
  print(f"PW {name}!")

greet()  # PWskills
greet("work") # PWwork

(e) with variable-lengh argument

def add(*ar):
 return sum(ar)

result = add(1,2,3,4)
print(result) # output: 10

(f) with **kwargs(for keyword argument)

def n(**kwargs):
  for name, message in kwargs.items():
  print(f"{message},{name}!")

n(A="hello", B="world")

hello,A!
world,B!

(g) Lambda function

square = lambda x: x ** 2

print(square(5))  # Output: 25


(h)nested function

def outer_function():
  def inner_function():
        print("Inside the inner function")
    
  inner_function()
  print("Inside the outer function")




 **4. What is the purpose of the `return` statement in a Python function?**

  **Ans:-**

The purpose of the return statement in a Python function is to:

1.Send a result back to where the function was called, so you can use it later.

2.Exit the function and stop its execution at that point.

Ex:-

def add(a, b):
  return a + b

result = add(3, 5)  # The result is returned and stored in 'result'
print(result)  # Output: 8


 **5. What are iterators in Python and how do they differ from iterables?**

  **Ans:-**

  An iterator is an object that allows you to traverse through a sequence (like a list or a string) one element at a time.

  To be an iterator, an object must implement two methods:

1.__iter__() — This method returns the iterator object itself.


2.__next__() — This method returns the next element in the sequence.

Ex:-

my_list = [1, 2, 3]

my_iterator = iter(my_list)  # Create an iterator from the list

print(next(my_iterator))  # Output: 1

print(next(my_iterator))  # Output: 2

print(next(my_iterator))  # Output: 3


An iterable is any object that can return an iterator. In simple terms, if an object can be looped over (like in a for loop), it's an iterable.

Examples of iterables are lists, tuples, strings, and dictionaries. You can convert an iterable into an iterator using the iter() function.

Ex:-

my_list = [1, 2, 3]  # This is an iterable

for item in my_list:  # You can loop over it directly
   print(item)






**6. Explain the concept of generators in Python and how they are defined.**

**Ans:-**

A generator is a special type of iterator that allows you to iterate over a sequence of values, but it generates (yields) each value one at a time as you need it, instead of storing all the values in memory at once.

Generators are defined using the yield keyword inside a function, instead of return.

Ex:-

def count_up_to(limit):

  count = 1

  while count <= limit:
        yield count  # Yield returns the current value and pauses the function
        count += 1



** 7. What are the advantages of using generators over regular functions?**

 **Ans:-** There are some advantages as follows:-

 1. Memory Efficiency

 2.Improved Performance

 3.Infinite Sequences



**8. What is a lambda function in Python and when is it typically used?**

**Ans:-**

A lambda function is a small, anonymous function that is defined using the lambda keyword. It can have any number of arguments, but it can only have one expression.

Syntax

lambda arguments: expression

Ex:-

add = lambda x, y: x + y

print(add(3, 5))  # Output: 8


We used for

1. Short, one-line functions: When you need a simple function for a short operation, without the need to define a full function using def.


2.Passing functions as arguments: Often used in functions like map(), filter(), and sorted(), where you need a quick function for one-time use.

Ex:-

pairs = [(1, 2), (3, 1), (5, 0)]

pairs_sorted = sorted(pairs, key=lambda x: x[1])

print(pairs_sorted)  # Output: [(5, 0), (3, 1), (1, 2)]





**9. Explain the purpose and usage of the `map()` function in Python.**


**Ans:-** The map() function is used to apply a given function to all items in an iterable (like a list, tuple, etc.), and it returns an iterator with the results.

Syntax:

map(function, iterable)

Ex:-

numbers = [1, 2, 3, 4]


result = map(lambda x: x * 2, numbers)

print(list(result))  # Output: [2, 4, 6, 8]






**10. What is the difference between map(), reduce(), and filter() functions in Python?**


**Ans:-** These three functions are used to apply operations to iterables, but they serve different purposes:

1. map():
Purpose: Applies a function to each item in an iterable and returns an iterable of the results.
Output: A new iterable (like a list or map object) with transformed items.

Example:

numbers = [1, 2, 3]

result = map(lambda x: x * 2, numbers)

print(list(result))  # Output: [2, 4, 6]

2. reduce():

Purpose: Applies a function to the items in an iterable cumulatively (i.e., it reduces the iterable to a single value).
Output: A single value that is the result of applying the function cumulatively.

Example:

from functools import reduce

numbers = [1, 2, 3, 4]

result = reduce(lambda x, y: x + y, numbers)

print(result)  # Output: 10 (1 + 2 + 3 + 4)

3. filter():
Purpose: Filters items from an iterable based on a condition (returns only items for which the function returns True).
Output: An iterable containing only the items that satisfy the condition.

Example:

numbers = [1, 2, 3, 4, 5]

result = filter(lambda x: x % 2 == 0, numbers)

print(list(result))  # Output: [2, 4]

**11. Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given**

**list:[47,11,42,13];**

![WhatsApp Image 2025-01-21 at 01.44.06_40ec468b.jpg]()

**Practical Question**

In [ ]:
#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

def even_sum_list(n):
  even_ = 0


  for i in n :  # This code checks number in the list if it is even than its add to the even_ '''
     if i % 2 == 0:
      even_ = even_ + i


  return even_

a = [2,4,6,8,1,3,7,9]
b = even_sum_list(a)
print(b)

20

In [ ]:
#2. Create a Python function that accepts a string and returns the reverse of that string.

def reverse_string(s):
    return s[::-1]  # Slicing to reverse the string

string = "Hello, world!"
result = reverse_string(string)
print(result)

!dlrow ,olleH

In [ ]:
#3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

def square_numbers(numbers):

    return [num ** 2 for num in numbers]


numbers = [1, 2, 3, 4, 5]
result = square_numbers(numbers)
print(result)

[1, 4, 9, 16, 25]

In [ ]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200.

def is_prime(n):
    if n < 2:  # Numbers less than 2 are not prime
        return False
    for i in range(2, n):
        if n % i == 0:  # If n is divisible by any number, it's not prime
            return False
    return True  # If no divisor is found, it's prime

# Check numbers from 1 to 200
for num in range(1, 201):
    if is_prime(num):
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [24]:
#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

def fib(n):
  a = 0
  b = 1
  for i in range(n): # if n= 5, 0,1,2,3
      yield a
      a , b = b , a+b

print(list(fib(10)))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

def powers_of_two(exponent):
    for i in range(exponent + 1):  # Loop from 0 to the given exponent
        yield 2 ** i


for power in powers_of_two(5):
    print(power, end=" ")

1 2 4 8 16 32

In [ ]:
#7. Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.


tuples = [(1, 5), (2, 3), (4, 1), (3, 7)]


sorted_tuples = sorted(tuples, key=lambda x: x[1])


print(sorted_tuples)

[(4, 1), (2, 3), (1, 5), (3, 7)]

In [ ]:
#9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.


def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32


celsius_temperatures = [0, 20, 25, 30, 35]

fahrenheit_temperatures = map(celsius_to_fahrenheit, celsius_temperatures)

print(list(fahrenheit_temperatures))

[32.0, 68.0, 77.0, 86.0, 95.0]

In [ ]:

#10. Create a Python program that uses `filter()` to remove all the vowels from a given string.


def is_not_vowel(char):
    return char.lower() not in 'aeiou'


input_string = "Hello, World!"


filtered_string = filter(is_not_vowel, input_string)


result = ''.join(filtered_string)
print(result)

Hll, Wrld!

In [ ]:
"""11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
Order Number      Book titile and Author                     Quantity     Price per item
34587            Learning Python,Mark Lutz                      4          40.95
98762            Progarmming Python,Mark Lutz                   5          56.80
77226            Head First Pyhton,Paul Barry                   3          32.95
88112            Einfuhrung in Python 3, Bernd Klein            3          24.99


Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €"""

orders = [
    [34587, 'Learning Python, Mark Lutz', 4, 40.95],
    [98762, 'Programming Python, Mark Lutz', 5, 56.80],
    [77226, 'Head First Python, Paul Barry', 3, 32.95],
    [88112, 'Einfuhrung in Python 3, Bernd Klein', 3, 24.99]

]

def process_orders(orders):
    result = []
    for i in orders:
        order_number = i[0]
        quantity = i[2]
        price_per_item = i[3]
        total_price = quantity * price_per_item


        if total_price < 100:
            total_price += 10

        result.append((order_number, total_price))
    return result


processed_orders = process_orders(orders)
print(processed_orders)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]